
@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1><span class="glyphicon glyphicon-barcode"></span> Products Recommender</h1>

<h1>I'm sorry, the product you selected is not available today. Try again in the future...</h1>


